.calculator {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    background-color: #2c3e50; /* Dark blue-gray background */
    border: 1px solid #34495e; /* Slightly darker border color */
    border-radius: 5px;
    padding: 10px;
}

#display {
    width: 95%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    color: #ecf0f1; /* Light gray text color for better contrast */
    background-color: #34495e; /* Slightly darker blue-gray background */
    border: 1px solid #2c3e50; /* Matching border color */
    border-radius: 3px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

h1 {
    text-align: center;
    color: #2b0b11; /* Light gray text color for the heading */
}

button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #3498db; /* Blue color for buttons */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9; /* Darker blue color on hover */
}