body {
  margin: 0;
  background-color: lightcyan;
  color: darkgreen;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.container {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 85%;
  max-width: 400px;
  text-align: center;
  font-size: 20px;
}

.heading {
  margin: 5px;
  font-size: 30px;
}

.ratings-container {
  display: flex;
  padding: 20px 0;
}

.rating {
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active
{
  background: darkseagreen;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: aliceblue;
  transition: all 300ms ease;
}

.btn {
  background-color: darkcyan;
  color: aliceblue;
  border: 0;
  margin: 10px;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}

.btn:active {
  transform: scale(0.96);
}

.rating img {
  width: 40px;
}
