
body {
  margin: 0;
  background: linear-gradient(to right, lightblue, yellow);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family:'Courier New', Courier, monospace;
}

.container {
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 10px;
  width: 450px;
  margin: 5px;
}

.get-anime {
  margin-bottom: 30px;
  background-color: green;
  color: aliceblue;
  padding: 10px 30px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.get-anime:disabled{
  background-color: gray;
  cursor: not-allowed;
}

.anime-container {
  /* display: none; */
  display: none;
}

.anime-container img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid green;
}

.anime-name{
  margin: 20px;
  background-color: green;
  color: aliceblue;
  padding: 10px;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 600;
}
