body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to left bottom, lightgreen, lightblue);
  color: black;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px;
  text-align: center;
}

.heading {
  font-size: 35px;
  text-align: center;
  font-weight: 700;
}

.quote {
  font-size: 30px;
  font-weight: bold;
}

.author {
  margin: 10px;
  text-align: right;
  font-size: 25px;
  font-style: italic;
}

.btn {
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.6);
  width: 300px;
  color: black;
  text-transform: uppercase;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: green;
  transition: all 300ms ease-in-out;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
