body {
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace;
  background: linear-gradient(to bottom, lightgreen, lightblue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.container {
  background: aliceblue;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 10px;
 
}

h2{
  font-weight: 400;
}

.errorMessage{
  display: none;
  color: red;
  font-weight: 600;
  margin: 10px;
}

.gallery{
  display: none;
}
  
.gallery img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
  } 

.input{
  padding: 20px 10px;
  font-size: 18px;
  border-radius: 3px;
  background-color: white;
  text-align: center;
}
.btn {
  text-transform: uppercase;
  width: 250px;
  height: 45px;
  margin: 20px 0;
  font-size: 18px;
  border-radius: 5px;
  background-color: black;
  color: aliceblue;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn:hover {
  color: white;
  background-color: green;
  cursor: pointer;
}

