
body {
   
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: yellow;
    align-items: center;

  }


  .main-box{
    background-color: darkcyan; 
    color: aliceblue;
    border-radius: 5px;
    padding:10px;
    max-width: 600px;
    text-align: center;


  }
  
  .currency {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .currency select {
    padding: 10px;

  }
  
  .currency input {
    border:0px;
    background: transparent;
    font-size: 25px;
    text-align: right;
    color: aliceblue;
  }
  
  
  
  .exchange-rate {
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
  }
  
  select:focus,
  input:focus {
    outline: 0;
  }
  