body {
  margin: 0;
  background: linear-gradient(to left bottom, lightgreen, lightblue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 1.25rem;
  color: darkcyan;
}

.heading {
  height: 58px;
  line-height: 58px;
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  border-radius: 10px;
  padding: 0 15px;
  margin-bottom: 28px;
}
.container {
  width: 85%;
  max-width: 450px;
  min-width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.box {
  width: 100%;
  padding: 15px;
  font-weight: bold;
}
.input_box {
  width: 14rem;
  font-family: monospace;
  padding: 5px;
  float: right;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  color: darkgreen;
  font-size: 1.25rem;
}

.input_box::placeholder {
  color: darkgray;
}
