html
{
    height: 100%;
    font-weight: bolder;
}

body
{
    text-align: center;
    background-image: url("https://img.freepik.com/free-photo/neutral-tone-abstract-invitation-card_53876-97500.jpg?w=360&t=st=1678787861~exp=1678788461~hmac=ddf4b178837a6bad7c846053fe79fdfbc1e65bb4e3ee5c298f828b653335b6ed");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color:black;
}
table{
    margin: auto;
}
tr, td{
    text-align: left;
}

.title
{
    font-size: 40px;
    padding:1rem ;
    border: 1px solid #ffdfdd;
}

.dateTime label
{
    font-size: 20px;
    margin: 10px;
}

.dateTime input
{
    font-size: 20px;
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid #ffdfdd ;
    background-color: #ffdfdd;
    border-radius: 10px;
    box-shadow: 3px 3px 3px  #307d7e;
}

button
{
    margin: 20px 5px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: #ffdfdd;
    border: 1px solid #ffdfdd;
    box-shadow: 3px 3px 3px  #307d7e;
    border-radius: 5px;
}

.container
{
    display: flex;
    justify-content: center;
}

.innerContainer
{
    margin: 5px;
}

.innerContainer input
{
    height: 8vw;
    width: 8vw;
    border-radius: 200px;
    color: black;
    background-color: #ffdfdd;
    /* background: transparent; */
    text-align: center;
    font-size: 5vw;
}   